/* PageEMP.css */
.employee {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 20px;
    border-radius: 5px;
    display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .custom-button {

    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    width: 20%;
  }
  
  .custom-button:hover {
    background-color: #0056b3;
  }
  
  /* Add more styles as needed to achieve your desired modern look */
  