.pagination-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin-right: 10px;
    cursor: pointer;
}

.active {
    font-weight: bold;
}

.custom-pagination-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 1px 7px;
    cursor: pointer;
    border-radius: 5px;
    margin: 2px;
    outline: none;
    font-size: 14px;
  }

.custom-pagination-button:hover {
    background-color: #0069d9;
  }

